<div class="container">
  <h2 class="text-white text-center">New List</h2>
</div>
<div class="container text-white">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-sm btn-success' %>
  <% end %>
  <%= link_to 'back', lists_path, class: "btn btn-sm btn-primary my-3" %>
</div>
