.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

    &:hover {
      border: 3px solid rgba(148, 0, 211, 0.8);
      box-shadow: 0 0 10px rgba(148, 0, 211, 0.8);
      transition: .3s ease-in-out;
    }
}

.card-category a {
  color :white ;
}
